.p2{
    padding: 2em;
}

.bg-dark{
    background-color: rgb(51, 50, 50);
}
.border{
    border: 2px solid rgb(51, 50, 50, .2);
    border-radius: 10px;
}
.box-shadow{
    box-shadow: 2px 0px 0px rgb(51, 50, 50, .1);
}

.mt5{
    margin-top: 5px;
}